<h1>New addition</h1>

<form action="/wizard_addition">
  <label for="first">Add this</label>
  <input type="text" id="first" name="first">

  <label for="second">to this:</label>
  <input type="text" id="second" name="second">

  <button>Add!</button>
</form>
